<div class="patrickhadlaw styles container">
  <div class="patrickhadlaw styles header">
    <div class="patrickhadlaw styles logo">&lt;dev/&gt;</div>
    <div class="right-header-content">
      <div class="description">Hello, my name is Patrick Hadlaw. I am a Computer Engineering student at the University
        of Waterloo.</div>
      <div class="row">
        <a href="about-me#contact" style="text-decoration: none;">
          <div class="header-button">Contact</div>
        </a>
        <a href="../assets/RESUME.pdf" download="RESUME.pdf" style="text-decoration: none;">
          <div class="header-button">Resume</div>
        </a>
      </div>
    </div>
  </div>

  <app-color-bar colorA="#000000" colorB="#f2f2f2"></app-color-bar>

  <app-hero src="../assets/avatar.jpg" backgroundColor="rgb(250, 250, 250)" color="rgb(50, 50, 50)">
    Hello, I'm a Computer Engineering student who is enthusiastic about technology, solving real world problems and learning
    more about the world in general. I'm fascinated by a broad range of computer topics including: web development,
    computer graphics, systems programming and hardware design.<br>
    If your looking for a co-op student experienced with the full development process with a generalized set of knowledge
    and interests, feel free to get in touch.<br>
    <b>A copy of my resume and my contact information can be found below.</b>
  </app-hero>

  <br><br><br><br>

  <app-banner color="rgb(50, 50, 50)" backgroundColor="rgb(250, 250, 250)">
    <div class="row-wrapper">
      <a class="social-icon-container" [attr.href]="Email">
        <svg class="social-icon">
          <image xlink:href="../assets/email.svg" width="75px" height="75px" x="0" y="0"></image>
        </svg>
      </a>
      <a class="social-icon-container" [attr.href]="Github">
        <svg class="social-icon">
          <image xlink:href="../assets/github.svg" width="75px" height="75px" x="0" y="0"></image>
        </svg>
      </a>
      <a class="social-icon-container" [attr.href]="LinkedIn">
        <svg class="social-icon">
          <image xlink:href="../assets/linkedin.svg" width="75px" height="75px" x="0" y="0"></image>
        </svg>
      </a>
    </div>

    <br><br>

    <div class="row-wrapper">
      <app-image-button [style.margin]="'20px'" header="Resume" href="../assets/RESUME.pdf" download="RESUME.pdf"
        size="240" src="../assets/resume.png" button="Download">My resume</app-image-button>
      <app-image-button [style.margin]="'20px'" href="https://github.com/patrickhadlaw/patrickhadlaw.com" size="240"
        src="../assets/website.png" button="Click here">Website repository</app-image-button>
    </div>

    <br>

    <div class="quote-container">
      <div style="max-width: 20cm; margin-left: 1cm; margin-right: 1cm; text-align: center;">
        "To the optimist, the glass is half full.
        To the pessimist, the glass is half empty.
        To the engineer, the glass is twice as big as it needs to be" - Anonymous
      </div>
    </div>

    <img src="../assets/angular.svg" [style.width.cm]="4" [style.marginTop.cm]="1" />
    <br>
    <b [style.fontSize.px]="18" [style.marginBottom.cm]="2.5">This site was built using Angular 11</b>

    <div class="contact-container">
      <a name="contact">
        <h1>Contact</h1>
      </a>
      <b>Phone: 1(902)670-4383</b><br>
      <b>Email: pshadlaw@uwaterloo.ca</b><br>
    </div>

    <h1>Send message</h1>

    <b class="textbox-title">Full name:</b>
    <input #messageName type="text" placeholder="Your full name.." class="contact-textbox" />
    <br>
    <b class="textbox-title">Email:</b>
    <input #messageEmail type="text" placeholder="Your email address.." class="contact-textbox" />
    <br><br>
    <b class="textbox-title">Message:</b>
    <textarea #messageContent type="text" [style.height.px]="150" class="contact-textbox white"
      style="resize: vertical; min-height: 2cm" placeholder="Your message.."></textarea>
    <div (click)="sendMessage()" class="submit-button" [class.failure]="sendState === 'failure'" [class.success]="sendState === 'success'">
      Send
    </div>
  </app-banner>
  <div class="footer">
    Copyright Patrick Hadlaw 2018 ©
  </div>
</div>
