<div class="patrickhadlaw styles container">
    <div class="patrickhadlaw styles header">
        <div class="patrickhadlaw styles logo" [style.fontSize.cm]="1.0">My Work Experience</div>
    </div>
    <app-color-bar colorA="#000000" colorB="#f2f2f2"></app-color-bar>
    <div class="stack">
        <chip src="../../assets/tdlab.jpg" header="TD Innovation Lab" size="large">
            <div class="date">From: Sept 2018 - Dec 2018</div>
            <b>Title: Software Developer - Accelerator</b>
            During my time at TD Lab I collaborated and took initiative on various different
            projects. I also took part in the design process during product design hackathons.
            I worked with the following technologies:
            <div class="spacing"></div>
            <div scrollX class="list">
                <chip size="mini" header="Android"></chip>
                <chip size="mini" header="IOS"></chip>
                <chip size="mini" header="Firebase"></chip>
                <chip size="mini" header="Chrome Extensions"></chip>
                <chip size="mini" header="Python"></chip>
                <chip size="mini" header="Flask"></chip>
                <chip size="mini" header="Node.js"></chip>
                <chip size="mini" header="Optimization"></chip>
                <chip size="mini" header="Angular 2"></chip>
                <chip size="mini" header="Vue.js"></chip>
            </div> 
        </chip>
        <chip src="../../assets/sony.jpg" header="Sony Electronics" size="large">
            <div class="date">From: Jan 2018 - April 2018</div>
            <b>Title: Software Engineer</b>
            During my time at Sony I took part in a couple different projects mainly
            involving web frontend and backend development as well as developing
            with microphone arrays and audio processing. I worked with the following
            technologies:
            <div class="spacing"></div>
            <div scrollX class="list">
                <chip size="mini" header="Angular 2"></chip>
                <chip size="mini" header="Typescript"></chip>
                <chip size="mini" header="Python"></chip>
                <chip size="mini" header="Flask"></chip>
                <chip size="mini" header="Audio programming"></chip>
                <chip size="mini" header="AWS"></chip>
                <chip size="mini" header="WebSockets"></chip>
            </div>            
        </chip>
    </div>
</div>