.close {
    position: absolute;
    left: 15px;
    top: 15px;
}
.close-icon {
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    pointer-events: none;
}
.close-circle:hover {
    cursor: pointer;
}
.container {
    position: fixed;
    z-index: 999;
}
.root {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
}
.node {
    &:hover {
        cursor: crosshair;
    }
    &.text {
        text-anchor: middle;
        pointer-events: none;
        transform-origin: center;
        transform-box: fill-box;
        &:hover {
            cursor: crosshair;
        }
    }
    &.description {
        color: gray;
        text-align: center;
    }
}