<div class="patrickhadlaw styles container">
        <div class="patrickhadlaw styles header">
            <div class="patrickhadlaw styles logo" [style.fontSize.cm]="1.0">My Skills</div>
        </div>
        <app-color-bar colorA="#000000" colorB="#f2f2f2"></app-color-bar>
        <div class="stack">
            <chip size="mini" header="C++" clickSize="large" src="../../assets/cpplogo.png">
                From years of self-taught experience prior to my post-secondary education,
                C++ has become the language I am most comfortable with. I use C++ mostly for
                applications which have high performance requirements such as real-time rendering.
                C++ is also the language of choice for the programming courses in my university
                program.
            </chip>
            <chip size="mini" header="Python" clickSize="large" src="../../assets/python.png">
                I picked up Python a year before starting my post-secondary education. I was
                enticed by the simplicity and power of the language. I use Python mostly to quickly
                prototype/hack code together.
            </chip>
            <chip size="mini" header="Golang" clickSize="large" src="../../assets/golang.png">
                After learning my first interpreted server-side language I decided to try Golang
                to build a couple servers and found I enjoyed using the language for this purpose.
            </chip>
            <chip size="mini" header="SQL" clickSize="large" src="../../assets/sql.png">
                Working with various backend and data applications, SQL became a must have under
                my belt.
            </chip>
            <chip size="mini" header="Angular 2 & TypeScript" clickSize="large" src="../../assets/angular.png">
                I picked up Angular 2+ during my first co-op term at Sony Electronics and since
                then I've never looked back. I use Angular 2+ for most of my web frontend development.
            </chip>
            <chip size="mini" header="OpenGL" clickSize="large" src="../../assets/opengl.png">
                I started learning OpenGL around two years before going into my post-secondary
                education. What got me into it? Well, I was always inspired by life like CGI and how
                using mathematics people are able to simulate graphically to an astounding level of
                detail.
            </chip>
            <chip size="mini" header="Vulkan" clickSize="large" src="../../assets/vulkan.png">
                I started going down the rabbit hole of graphics programming with Vulkan API around
                one year ago. I got hit by a very steep learning curve and only created basic renderers
                with it. For most of my projects I still prefer OpenGL to be able to write more graphics
                code and deal with less of the management that is required for Vulkan.
            </chip>
            <chip size="mini" header="Computer Graphics" clickSize="large">
                I began learning about computer graphics when I started learning OpenGL around two years
                before starting my post-secondary education. Since then I have learned a lot about linear
                algebra which has helped me learn more about graphics concepts.
            </chip>
            <chip size="mini" header="Android" clickSize="large" src="../../assets/android.png">
                I had dabbled in Android since before Android Studio came out. I advanced my knowledge
                of android during my co-op at TD Lab, where I helped develop and optimize an app.
            </chip>
            <chip size="mini" header="Firebase" clickSize="large" src="../../assets/firebase.svg">
                I used Firebase during my co-op term at TD Lab. I found that working with Firebase is
                very straight forward coming from only having worked with relational databases. I think
                Firebase is very handy for getting a backend up and running quickly.
            </chip>
            <chip size="mini" header="IOS" clickSize="large" src="../../assets/ios.png">
                I learned some IOS development during various hackathons while working for TD Lab.
                Unfortunately I do not own an Apple computer so I can't use it for my personal projects.
            </chip>
            <chip size="mini" header="HTML, CSS & JavaScript" clickSize="large" src="../../assets/html.png">
                I began learning HTML, CSS and JavaScript many years before starting my post-secondary education.
                When I was younger I really wanted to make cool websites. So I put some time into it and created a
                couple websites and have been doing it for my personal projects and during my career ever since.
            </chip>
            <chip size="mini" header="Web Authentication & Security" clickSize="large" src="../../assets/lock.png">
                I created an authentication server to learn more about how the web works. I used PostgreSQL
                along with Golang to create the server. This forced me to learn about various hashing and
                encryption algorithms as well as how passwords are secured properly.
            </chip>
            <chip size="mini" header="Git" clickSize="large" src="../../assets/git.png">
                I've been using Git for personal projects as well as for my work. Learning Git has been a bit of
                a learning curve, but after using it for a few co-op terms using Git feels natural.
            </chip>
            <chip size="mini" header="C" clickSize="large" src="../../assets/c.png">
                I picked up some C from my knowledge of C++ as well as from using C to program microcontrollers.
            </chip>
            <chip size="mini" header="CMake" clickSize="large" src="../../assets/cmake.png">
                Over the years I've worked on some cross-platform C++ projects and found it very difficult
                to be able to build a porject to multiple platforms. This is why I never looked back when I
                created my first CMake project.
            </chip>
            <chip size="mini" header="VHDL" clickSize="large" src="../../assets/vhdl.png">
                During my digital circuits course (ECE-124) I learned to design hardware using VHDL.
            </chip>
            <chip size="mini" header="AWS" clickSize="large" src="../../assets/aws.png">
                I have been using AWS for hosting my website and also during my co-op term at Sony Electronics
                to set up a real-time speech recognition server through a WebSocket connection.
            </chip>
            <chip size="mini" header="Object-Oriented Programming" clickSize="large">
                I've picked up object-oriented concepts since I began learning C++ years before starting university.
                Through various projects I've learned about mnay different idomatic ways to structure software.
            </chip>
            <chip size="mini" header="WebSockets" clickSize="large" src="../../assets/socket.png">
                I learned about WebSockets during my co-op term at Sony Electronics, where I used WebSockets
                to pipeline audio data from a device, in real-time, to various processing stages on a server.
                Where the processed data was then provided to a web frontend.
            </chip>
            <chip size="mini" header="Audio Programming" clickSize="large">
                During my first co-op term at Sony Electronics I got some hands on experience with audio programming
                while working on a data service utilizing microphone arrays.
            </chip>
            <chip size="mini" header="Concurrent Programming" clickSize="large">
                During my previous work and in some of my personal projects I've utilized multi-threaded
                programming to solve problems more efficiently.
            </chip>
            <chip size="mini" header="Network Programming" clickSize="large">
                I've worked with various web protocols including network sockets, WebSockets, HTTP, HTTPS,
                TLS, SSH, etc. Most projects I've worked on require some sort of communication technology,
                requiring me to learn about programming on the net.
            </chip>
            <chip size="mini" header="Chrome Extensions" clickSize="large">
                During my co-op term at TD Lab I worked with chrome Extensions. I like working with Chrome
                Extensions when I need to integrate content into webpages without touching the production
                codebase.
            </chip>
        </div>
    </div>