<div (click)="onClick($event)" [ngClass]="['chip', 'container', size]" [class.clickable]="clickable"
  [style.cursor]="clickable ? 'pointer' : 'default'">
  <img *ngIf="showImage" [attr.width]="imageSize" [attr.height]="imageSize" [ngClass]="['image', size]" [attr.src]="src" />
  <div *ngIf="size === 'mini' else content" class="header mini">{{header}}</div>
  <ng-template #content>
    <div [ngClass]="['content', 'container', size]">
      <div [ngClass]="['header', size]">{{header}}</div>
      <div [ngClass]="['text', size]">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</div>
