<div class="patrickhadlaw styles container">
  <div class="patrickhadlaw styles header">
    <div class="patrickhadlaw styles logo" [style.fontSize.cm]="1.0">My Skills</div>
  </div>
  <app-color-bar colorA="#000000" colorB="#f2f2f2"></app-color-bar>
  <div class="stack">
    <app-shelf title="Topics of Interest" active="true">
      <app-chip size="mini" header="Full-Stack Web Development"></app-chip>
      <app-chip size="mini" header="Desktop Application Development"></app-chip>
      <app-chip size="mini" header="Computer Graphics"></app-chip>
      <app-chip size="mini" header="Systems Programming"></app-chip>
      <app-chip size="mini" header="Computer Security"></app-chip>
      <app-chip size="mini" header="Computer Networking"></app-chip>
      <app-chip size="mini" header="Digital Hardware Design"></app-chip>
    </app-shelf>
    <app-shelf title="Programming Languages">
      <app-chip size="mini" header="C/C++"></app-chip>
      <app-chip size="mini" header="Rust"></app-chip>
      <app-chip size="mini" header="JavaScript/TypeScript"></app-chip>
      <app-chip size="mini" header="Python"></app-chip>
      <app-chip size="mini" header="Golang"></app-chip>
      <app-chip size="mini" header="Verilog"></app-chip>
      <app-chip size="mini" header="Java"></app-chip>
      <app-chip size="mini" header="SQL"></app-chip>
    </app-shelf>
    <app-shelf title="Tools/Frameworks">
      <app-chip size="mini" header="Qt"></app-chip>
      <app-chip size="mini" header="Angular"></app-chip>
      <app-chip size="mini" header="Kubernetes"></app-chip>
      <app-chip size="mini" header="RenderDoc"></app-chip>
      <app-chip size="mini" header="OpenGL"></app-chip>
      <app-chip size="mini" header="Vulkan"></app-chip>
      <app-chip size="mini" header="Android"></app-chip>
      <app-chip size="mini" header="MongoDB"></app-chip>
      <app-chip size="mini" header="Postgres"></app-chip>
      <app-chip size="mini" header="Firebase"></app-chip>
      <app-chip size="mini" header="Chrome Extensions"></app-chip>
      <app-chip size="mini" header="AWS"></app-chip>
      <app-chip size="mini" header="CMake"></app-chip>
      <app-chip size="mini" header="Git"></app-chip>
      <app-chip size="mini" header="Cucumber"></app-chip>
      <app-chip size="mini" header="GitHub Actions"></app-chip>
      <app-chip size="mini" header="CircleCI"></app-chip>
      <app-chip size="mini" header="HTML, CSS & SASS"></app-chip>
    </app-shelf>
  </div>
</div>
