<div class="patrickhadlaw styles container">
  <div class="patrickhadlaw styles header">
    <div class="patrickhadlaw styles logo" [style.fontSize.cm]="1.0">My Skills</div>
  </div>
  <app-color-bar colorA="#000000" colorB="#f2f2f2"></app-color-bar>
  <div class="stack">
    <app-chip size="mini" header="C++" clickSize="large" src="../../assets/cpplogo.png">
      From years of self-taught experience prior to my post-secondary education,
      C++ has become the language I am most comfortable with. I use C++ mostly for
      applications which have high performance requirements such as real-time rendering.
      C++ is also the language of choice for the programming courses in my university
      program.
    </app-chip>
    <app-chip size="mini" header="Python" clickSize="large" src="../../assets/python.png">
      I picked up Python a few years before starting my post-secondary education. I was
      enticed by the simplicity and power of the language. I use Python mostly to quickly
      prototype/hack code together.
    </app-chip>
    <app-chip size="mini" header="Golang" clickSize="large" src="../../assets/golang.png">
      After learning an interpreted server-side language I decided to try Golang
      to build a couple servers and now use it as my primary server-side language. After
      using it for many personal projects I've found it very powerful for networking purposes.
    </app-chip>
    <app-chip size="mini" header="SQL" clickSize="large" src="../../assets/sql.png">
      Working with various backend and data applications, SQL became a no brainer to have
      under my belt. I've worked with a couple different SQL drivers including SQLite, PostgreSQL
      and MySQL.
    </app-chip>
    <app-chip size="mini" header="Angular 2+ & TypeScript" clickSize="large" src="../../assets/angular.png">
      I picked up Angular 2+ during my first co-op term at Sony Electronics and since
      then I've never looked back. I use Angular 2+ for most of my web frontend development.
    </app-chip>
    <app-chip size="mini" header="Vue.js" clickSize="large" src="../../assets/vue.png">
      During my work at TD Lab I learned Vue.js for a design hackathon. I think Vue.js is
      a very flexible and simplified JavaScript framework which required less boilerplate
      code than many other frameworks.
    </app-chip>
    <app-chip size="mini" header="OpenGL" clickSize="large" src="../../assets/opengl.png">
      I started learning OpenGL around two years before going into my post-secondary
      education. What got me into it? Well, I was always inspired by life like CGI and how
      using mathematics people are able to simulate graphically to an astounding level of
      detail.
    </app-chip>
    <app-chip size="mini" header="Vulkan" clickSize="large" src="../../assets/vulkan.png">
      I started going down the rabbit hole of graphics programming with Vulkan API around
      one year ago. I got hit by a very steep learning curve and only created basic renderers
      with it. For most of my projects I still prefer OpenGL to be able to write more graphics
      code and deal with less of the management that is required for Vulkan.
    </app-chip>
    <app-chip size="mini" header="Computer Graphics" clickSize="large">
      I learned computer graphics after exptensive work on my side projects. One of which is a
      real-time rendering engine featuring a real-time, sparse voxel octree, raytracing algorithm.
      This was implemented by flattening the octree into an SSBO which is then passed into a compute
      shader utilizing a multi-pass, stack-based, traversal of the octree.
    </app-chip>
    <app-chip size="mini" header="Full-Stack Web Development" clickSize="large">
      Throughout my work experience I have constantly been exposed to both front-end and back-end
      development. Working from small chrome extensions to large micro service architectures, I have
      gained a variety of experience with various stacks.
    </app-chip>
    <app-chip size="mini" header="Android" clickSize="large" src="../../assets/android.png">
      I had dabbled in Android since before Android Studio came out. I advanced my knowledge
      of android during my co-op at TD Lab, where I helped develop and optimize an app.
    </app-chip>
    <app-chip size="mini" header="Firebase" clickSize="large" src="../../assets/firebase.svg">
      I used Firebase during my co-op term at TD Lab. I found that working with Firebase is
      very straight forward coming from only having worked with relational databases. I think
      Firebase is very handy for getting a backend up and running quickly.
    </app-chip>
    <app-chip size="mini" header="IOS" clickSize="large" src="../../assets/ios.png">
      I learned some IOS development during various hackathons while working for TD Lab.
      Unfortunately I do not own an Apple computer so I can't use it for my personal projects.
    </app-chip>
    <app-chip size="mini" header="HTML, CSS & JavaScript" clickSize="large" src="../../assets/html.png">
      I began learning HTML, CSS and JavaScript many years before starting my post-secondary education.
      When I was younger I really wanted to make cool websites. So I put some time into it and created a
      couple websites and have been doing it for my personal projects and during my career ever since.
    </app-chip>
    <app-chip size="mini" header="Web Authentication & Security" clickSize="large" src="../../assets/lock.png">
      I created an authentication server to learn more about how the web works. I used PostgreSQL
      along with Golang to create the server. This forced me to learn about various hashing and
      encryption algorithms as well as how passwords are secured properly.
    </app-chip>
    <app-chip size="mini" header="Git" clickSize="large" src="../../assets/git.png">
      I've been using Git for personal projects as well as for my work. Learning Git has been a bit of
      a learning curve, but after using it for a few co-op terms using Git feels natural.
    </app-chip>
    <app-chip size="mini" header="C" clickSize="large" src="../../assets/c.png">
      Having worked with C++ extensively, switching to C was quite straight forward. I used C during my
      concurrency and systems programming course.
    </app-chip>
    <app-chip size="mini" header="CMake" clickSize="large" src="../../assets/cmake.png">
      Over the years I've worked on some cross-platform C++ projects and found it very difficult
      to be able to build a porject to multiple platforms. This is why I never looked back when I
      created my first CMake project.
    </app-chip>
    <app-chip size="mini" header="VHDL" clickSize="large" src="../../assets/hdl.png">
      During my digital circuits course (ECE-124) I learned to design hardware using VHDL.
    </app-chip>
    <app-chip size="mini" header="Verilog" clickSize="large" src="../../assets/hdl.png">
      During my digital systems engineering course (ECE-327) I learned to design hardware using Verilog.
    </app-chip>
    <app-chip size="mini" header="AWS" clickSize="large" src="../../assets/aws.png">
      I have been using AWS for hosting my website and also during my co-op term at Sony Electronics
      to set up a real-time speech recognition server through a WebSocket connection.
    </app-chip>
    <app-chip size="mini" header="Kubernetes" clickSize="large" src="../../assets/k8.png">
      I became familiar with Kubernetes during my co-op experience at MDA where we worked on a micro services
      architecture.
    </app-chip>
    <app-chip size="mini" header="Java" clickSize="large" src="../../assets/java.png">
      I became familiar with Java throughout my co-op experience at MDA where Java was used for the backend in
      conjunction with MongoDB and Kafka.
    </app-chip>
    <app-chip size="mini" header="Object-Oriented Programming" clickSize="large">
      I've picked up object-oriented concepts since I began learning C++ years before starting university.
      Through various projects I've learned about many different idomatic ways to structure software.
    </app-chip>
    <app-chip size="mini" header="WebSockets" clickSize="large" src="../../assets/socket.png">
      I learned about WebSockets during my co-op term at Sony Electronics, where I used WebSockets
      to pipeline audio data from a device, in real-time, to various processing stages on a server.
      Where the processed data was then provided to a web frontend.
    </app-chip>
    <app-chip size="mini" header="Audio Programming" clickSize="large">
      During my first co-op term at Sony Electronics I got some hands on experience with audio programming
      while working on a data service utilizing microphone arrays.
    </app-chip>
    <app-chip size="mini" header="Concurrent Programming" clickSize="large">
      During my previous work and in some of my personal projects I've utilized multi-threaded
      programming to solve problems more efficiently.
    </app-chip>
    <app-chip size="mini" header="Network Programming" clickSize="large">
      I've worked with various web protocols including network sockets, WebSockets, HTTP, HTTPS,
      TLS, SSH, etc. Most projects I've worked on require some sort of communication technology,
      requiring me to learn about programming on the net.
    </app-chip>
    <app-chip size="mini" header="Chrome Extensions" clickSize="large">
      During my co-op term at TD Lab I worked with chrome Extensions. I like working with Chrome
      Extensions when I need to integrate content into webpages without touching the production
      codebase.
    </app-chip>
  </div>
</div>